// global styles

// A nice font
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

.container {
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
}
